<% if !comment.parent_id %>
<div class=parent_comment>
  <div class=comment_rating>
    <span class=rating><%= comment.get_rating %></span>
  </div>
  <div class=comment_content>
  <%= comment.content %>
  <div class=comment_info>
    <%= comment.time_since_created %>
    by <%= link_to comment.user.name, user_path(comment.user), { class: "comment_link" } %>
    to <%= link_to comment.group.name, group_path(comment.group), { class: "comment_link" } %>
    about <%= link_to comment.movie.name, movie_path(comment.movie), { class: "comment_link" } %>
    - <%= comment.children.count %> replies
    -
    <a href="javascript:showhide('<%= "reply" + comment.id.to_s %>')" class="add_comment">
        reply
    </a>
  </div>
  </div>
  <div id= <%= "reply" + comment.id.to_s %> class="magic">
    <p>COMMENT BOX</p>
  </div>
</div>



<% else %>
<div class=comment>
  <div class=up>▲</div>
  <div class=down>▼</div>
  <div class=comment_rating>
    <%= comment.get_rating %>
  </div>
  <div class=comment_content>
  <%= comment.content %>
  <div class=comment_info>
    <%= comment.time_since_created %>
    by <%= link_to comment.user.name, user_path(comment.user), { class: "comment_link" } %>
    to <%= link_to comment.group.name, group_path(comment.group), { class: "comment_link" } %>
    about <%= link_to comment.movie.name, movie_path(comment.movie), { class: "comment_link" } %>
    - <%= comment.children.count %> replies
    -
    <a href="javascript:showhide('<%= "reply" + comment.id.to_s %>')" class="add_comment">
        reply
    </a>
  </div>
  </div>
  <div id= <%= "reply" + comment.id.to_s %> class="magic">
    <p>COMMENT BOX</p>
  </div>
</div>
<% end %>
