<%= render 'lil_logo' %>
<%= render 'menu' %>

<div class=all_comments>
<center><h1>Your Groups:</h1></center>

<div class=my_movies>

<% @my_groups.each do |group| %>

  <div class=movie_container>
  <span class=movie_name>
    <%= link_to group.name, group_path(group) %>
  </span><br /><br />
  <span class=movie_group_names>
    Movies:
    <% group.movies.each do |movie| %>
      <%= link_to movie.name, group_movie_path(group, movie) %>
    <% end %>
  </span>
  </div>

<% end %>

</div>

<center><h1>Other Groups:</h1></center>

<div class=other_movies>

<% @all_groups.each do |group| %>

<div class=movie_container>
  <span class=movie_name>
    <%= link_to group.name, group_path(group) %>
  </span><br /><br />
  <span class=movie_group_names>
    Movies:
    <% group.movies.each do |movie| %>
      <%= link_to movie.name, group_movie_path(group, movie) %>
    <% end %>
  </span>
  </div>

<% end %>

</div>
</div>

<div class='content'>
Groups
<%= form_for @new_group do |f| %>
<%= f.text_field :name, placeholder: "Group Name" %>
<%= f.number_field :admin_id, value: @user.id, type: :hidden %>
<%= f.submit %>
<% end %>
</div>
