<%= render 'lil_logo' %>
<%= render 'menu' %>
<%= render 'comments' %>

<div class='content'>
<h1><%= @group.name %> | <%= @movie.name %></h1>
<% if @group.users.include?(@user) %>
<%= button_to "Leave Group", leave_group_path, params: {'group[id]' => @group.id} %>
<% else %>
<%= button_to "Join", join_group_path, params: {'group[id]' => @group.id} %>
<% end %>
</div>
