<!-- congratulations you fucking did it you logged in
<%= link_to "Logout", logout_path %> -->

<div class=lil_logo_container>
<div class=lil_logo>
<%= render 'logo' %>
</div>
</div>

<div class="menu">
  <%= link_to "Movies", movies_path %>
  <%= link_to "Groups", groups_path %>
  <%= link_to "Sign Out", logout_path %>
</div>


<div class=all_comments>
    <%= plant_trees_for @comments %>
</div>

<% if @comments = [] %>

<!-- <div class=no_comments_container>
  <div class=no_comments>
  <p>
  No comments <br />
  to view... <br />
  YET!
  </p>
  </div>
</div>

<% else %> -->



<% end %>
