<!-- congratulations you fucking did it you logged in
<%= link_to "Logout", logout_path %> -->
<%= render 'lil_logo' %>
<%= render 'menu' %>
<%= render 'comments' %>

<div class='content'>

  <div id='home_userimage'><%= image_tag("gen_user_pic.gif", :alt => "Upload a picture!") %></div>
  <br /><div id='home_welcome'>
  <span id='home_username'>Welcome,</span>
  <span id='home_username'><%= link_to @user.name, user_path(@user) %>!</span>
</div><br />
  EDIT OR PROFILE?<br /><br />
  CONTENT OF HOME PAGE<br />
  MAYBE COMMENT WITH OPTION TO POST NEW TO ANY MOVIE/GROUP COMBO?<br />

</div>


<!-- <%= render 'lil_logo' %>
<%= render 'menu' %>
<%= render 'comments' %>

<div class='content'>

</div> -->
