<!-- congratulations you fucking did it you logged in
<%= link_to "Logout", logout_path %> -->
<%= render 'lil_logo' %>
<%= render 'menu' %>
<%= render 'comments' %>

<div class=message>
<% if flash[:error] %>
  <%flash[:error].each do |message|%>
    <%= message %></br>
  <% end %>
<% end %>
</div>

<div class='content'>

  <div id='home_userimage'>
    <% if @user.picture.present? %>
     <%= image_tag(@user.picture_url, width: '70%') %>
   <% else %>
     <%= image_tag("gen_user_pic.gif", :alt => "Upload a picture!") %>
   <% end %>
 </div>
  <br /><div id='home_welcome'>
  <span id='home_username'>Welcome,</span>
  <span id='home_username'><%= link_to @user.name, user_path(@user) %>!</span>
</div><br />

</div>


<!-- <%= render 'lil_logo' %>
<%= render 'menu' %>
<%= render 'comments' %>

<div class='content'>

</div> -->
