<%= render 'lil_logo' %>
<%= render 'menu' %>
<!-- render 'comments' BROKEN -->

<div class='content'>
  <%= @user.name %><br />
  <% if @user.picture.present? %>
   <%= image_tag(@user.picture_url, width: '70%') %>
 <% else %>
   <%= image_tag("gen_user_pic.gif", :alt => "Upload a picture!") %>
 <% end %>

 <div class=message>
 <% if flash[:error] %>
   <%flash[:error].each do |message|%>
     <%= message %></br>
   <% end %>
 <% end %>
 </div>

<% if @user == current_user %>
Edit your account:<br /><br />
  <%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: @user.name %><br />
    <%= f.password_field :password, value: nil, placeholder: "password" %><br />
    <%= f.file_field :picture, id: :user_picture %><br />
    <%= f.submit  %>
  <% end %>
<% end %>


</div>

<!-- stats on user -->
<div class='all_comments'>
  <%= plant_trees_for @comments %>
<div>
